* {
    padding: 0;
    margin: 0;
}


.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

button {
    border: none;
    cursor: pointer;
    transition: .5s;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

.dark {
    background: #1F2E35;
    transition: .3s;

}

/*header start*/
#header {
    padding: 25px 0;
    -webkit-box-shadow: 0 1px 8px 5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 1px 8px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 0 1px 8px 5px rgba(0, 0, 0, 0.23);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(8px);
}

.dark #header {
    -webkit-box-shadow: 0 1px 8px 5px rgba(255, 255, 255, 0.23);
    -moz-box-shadow: 0 1px 8px 5px rgba(255, 255, 255, 0.23);
    box-shadow: 0 1px 8px 5px rgba(255, 255, 255, 0.23);

}

.header-logo h1 {
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
    padding-left: 16px;

}

.dark .header-logo h1 {
    color: white;
}


.header-logo {
    display: flex;
    align-items: center;
}

.header-nav a {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
    padding: 0 10px;
}

.dark .header-nav a {
    color: white;
}

.header-nav a:hover {
    color: royalblue;
    text-decoration-line: underline;
}

.btn-one,
.btn-two {
    color: #173A56;
    padding: 15px 25px;
    border: 2px solid #BCD0E5;;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border-radius: 5px;
    margin: 0 10px;
}

.dark .btn-one {
    color: white;
}

.btn-two {
    background: #02897A;
    color: white;
}

.btn-three {
    background: #F3F3F3;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02897A;
    font-size: 20px;
}

.dark-while {
    transition: .3s;
    display: block;
    animation: dark 1s alternate linear;
}

.dark-black {
    display: none;
}

.dark .dark-black {
    display: block;
    animation: dark 1s alternate linear;
}

.dark .dark-while {
    display: none;
    animation: dark 1s alternate linear;
}

@keyframes dark {
    0% {
        rotate: 350deg;
        scale: 0.5;
    }
}

.header-nav {
    display: flex;
    align-items: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*header end*/

/*work start*/
#work {
    padding: 25px 0;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .work-text h1,
.dark .work-text p,
.dark .work-btn button {
    color: white;
}

.work-text h1 {
    width: 518px;
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
}

.work-text p {
    width: 458px;
    padding: 18px 0 45px 0;
    color: #22343D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.work-btn {
    display: flex;
    align-items: center;
}

.work-btn button {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: #02897A;
    padding: 15px 25px;
}

.work-btn a {
    display: flex;
    align-items: center;
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    padding-left: 30px;
}

.work-btn a ion-icon {
    font-size: 23px;
    padding-right: 10px;

}

/*work end*/

/*product start*/
#product {
    background: url("../img/product-bn.svg") no-repeat center/cover;
    padding: 20px;
}


.product h1 {
    width: 500px;
    color: #22343D;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
    padding-bottom: 66px;
}

.dark .product h1 {
    color: white;
}

.product-block h3 {
    color: #22343D;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 0 16px 0;
}

.product-block p {
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    width: 240px;
}

.dark .product-block h3,
.dark .product-block p {
    color: white;
}


.product-icon {
    border-radius: 19px;
    background: #4D8DFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-icon-two {
    border-radius: 19px;
    background: #4D8DFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-icon-three {
    border-radius: 19px;
    background: #740A76;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-icon-four {
    border-radius: 19px;
    background: #F03E3D;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-general {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
}

.product-btn {
    color: white;
    border-radius: 4px;
    background: #02897A;
    padding: 15px 32px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid #02897A;

}

.product-btn:hover {
    border: 2px solid #02897A;
    background: transparent;
    color: #02897A;
}

/*product end*/

/*manager start*/
#manager {

    padding: 100px 0;
}

.manager-text {
    padding: 23px 0 30px 0;
}

.manager-text h4 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}
.dark .manager-text h4 {
    color: white;
}

.manager-text h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}
.dark .manager-text h1 {
    color: white;
}

.manager-text p {
    padding: 23px 0 30px 0;
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.dark .manager-text p {
    color: white;
}

.manager {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*manager end*/

/*customer start*/
#customer {
    padding: 100px 0;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-text h4 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}
.dark .customer-text h4 {
    color: white;
}
.customer-text h1 {
    padding: 8px 0 23px 0;
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}
.dark .customer-text h1 {
    color: white;
}
.customer-text p {
    padding-bottom: 30px;
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.dark .customer-text p {
    color: white;
}
.icon-black {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

}
.icon-one {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background: #FF9900;
    color: white;
    font-size: 20px;
}
.icon-two {
    margin-right: 30px;
    background: #F03E3D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    color: white;
    font-size: 20px;
}
.icon-three {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background: #4D8DFF;
    color: white;
    font-size: 20px;
}
.icon-black h6 {
    width: 365px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.dark .customer-text h6 {
    color: white;
}
/*customer end*/

/*coll start*/
#coll {
    padding: 60px 0;

}

.coll-text h4 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}
.dark .coll-text h4 {
    color: white;
}

.coll-text h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}
.dark .coll-text h1 {
    color: white;
}
.coll-text p {
    padding: 12px 0 25px 0;
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.dark .coll-text p {
    color: white;
}
.coll {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/*coll end*/

/*easy start*/
#easy {
    background: url("../img/easy-bg.png") no-repeat top/cover;
    padding: 25px 0;
}

.dark .easy h1,
.dark .easy p {
    color: white;
}

.easy h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.easy p {
    width: 542px;
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.easy-text h2 {
    color: #2F281E;
    font-size: 16px;
    font-weight: 500;
    background: white;
    padding: 15px 25px;
    border-radius: 25px;
}

.easy-block {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy-general {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.easy-block-two {
    flex-direction: row-reverse;
}

.easy-text {
    margin: 0 16px;
    position: relative;
}

.easy-block-img {
    border-radius: 50%;
}

.easy button {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 4px;
    background: #02897A;
}

.easy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.easy .easy h1,
.easy .easy p {
    color: white;
}

.easy-one {
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
    left: 30px;
}

.easy-two {
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    position: relative;
    bottom: -5px;
    left: 20px;
}

.easy-three {
    left: 200px;
}

.easy-four {
    left: 220px;
}

/*easy end*/

/*swiper start*/
#swiper {
    padding: 150px 0;
}
.swiper h1{
    color: #22343D;
    font-size: 34px;
    font-weight: 700;

}
.dark .swiper h1 {
    color: white;
}
.swiper p{
    color: #22343D;
    font-size: 24px;
    font-weight: 500;
    padding:8px 0 33px 0 ;
}
.dark .swiper p {
    color: white;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    border: 2px solid #BCD0E5;
    border-radius:8px ;

}
.swiper-slide img {
    width: 100%;
}
.swiper-slide h4{
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    padding: 0 24px 0 30px ;
}
.swiper-slide h2{
    color: #22343D;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 40px 30px 24px;

}
.swiper-slide:hover> h2{
    color:#02897A ;
    transition: .3s;
}

/*swiper end*/
